{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    [
      "dwayne",
      {
        "keepOriginal": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
