.idea/
node_modules/
test/

/config.json
/bundle.js
/bundle.js.map
/test.js
/test.js.map

/.babelrc
/.editorconfig
/.eslintrc

/config.example.json
/rollup.build.config.js
/rollup.dev.config.js
/rollup.test.config.js

/entry.js
/gulpfile.js
/server.js

/index.html
/test.html
