.idea/
node_modules/

src/
test/
coverage/

bundle.js
bundle.js.map

.babelrc
.editorconfig
.eslintrc

karma.conf.js
rollup.build.config.js
rollup.dev.config.js
rollup.test.config.js

entry.js

index.html
